<template>
    <div>
        <div id="viewer"></div>
    </div>
</template>

<script>
    import axios from "axios";
    import { Viewer } from 'photo-sphere-viewer';
	import MarkersPlugin from 'photo-sphere-viewer/dist/plugins/markers';

    export default {
        name: "RoomDefinitions",
        components: {
            
        },

        data() {
            return {
				baseUrl: "",
            	id : "",
				imUrl: "",
            	token: "",
				userName: "",
				userBio: "",
				userEmail: "",
				prof: "",
				actUrl: "",
				contactsText: "\
				<div id=\"conttext\">\
					<p id=\"conttitle\" class=\"title is-4\">Contacts</p>\
					<br/>\
					<br/>\
					<label class=\"mail subtitle is-5\" for=\"mailcont\">Email</label><br/>\
					<textarea class=\"mail textarea\" id=\"mailcont\" rows=\"1\" readonly></textarea><br/><br/>\
					<label class=\"phone subtitle is-5\" for=\"phonecont\">Phone</label><br/>\
					<textarea class=\"phone textarea\" id=\"phonecont\" rows=\"1\" readonly></textarea><br/><br/>\
					<label class=\"facebook subtitle is-5\" for=\"facebook\">Facebook</label><br/>\
					<textarea class=\"facebook textarea\" id=\"facebook\" rows=\"1\" readonly></textarea><br/><br/>\
					<label class=\"instagram subtitle is-5\" for=\"instagram\">Instagram</label><br/>\
					<textarea class=\"instagram textarea\" id=\"instagram\" rows=\"1\" readonly></textarea><br/><br/>\
					<br/>\
				</div>\
				",
				imageText: "\
				<div>\
					<p class=\"title is-4\" id=\"imageTitle\">Image description</p>\
				</div>\
				<br/>\
				<div id=\"imgtext\">\
					<textarea class=\"textarea\" id=\"imageta\" readonly></textarea>\
					<br/>\
				</div>\
				",
				phoneText: "\
				<div>\
					<p class=\"title is-4\" id=\"localName\"></p>\
				</div>\
				<br/>\
				<div id=\"imgdiv\">\
					<img src=\"\" id=\"profilePicture\"/>\
				</div>\
				<br/>\
				<br/>\
				<div id=\"bioInfos\">\
					<p id=\"biography\" class=\"subtitle is-5\">Biography</p>\
					<br/>\
					<textarea class=\"textarea\" id=\"biotext\" readonly></textarea>\
					<br/>\
				</div>\
				<div id=\"interests\">\
					<p id=\"inter\" class=\"subtitle is-5\">Interests</p>\
					<br/>\
					<input type=\"checkbox\" id=\"_sport\" value=\"Sport\" v-model=\"checkedNames\">\
					<label for=\"_sport\">Sport</label>\
					<br/>\
					<input type=\"checkbox\" id=\"_cinema\" value=\"Cinema\" v-model=\"checkedNames\">\
					<label for=\"_cinema\">Cinema</label>\
					<br/>\
					<input type=\"checkbox\" id=\"_tvseries\" value=\"TV series\" v-model=\"checkedNames\">\
					<label for=\"_tvseries\">TV series</label>\
					<br/>\
					<input type=\"checkbox\" id=\"_technology\" value=\"Technology\" v-model=\"checkedNames\">\
					<label for=\"_technology\">Technology</label>\
					<br/>\
					<input type=\"checkbox\" id=\"_art\" value=\"Art\" v-model=\"checkedNames\">\
					<label for=\"_art\">Art</label>\
					<br/>\
					<input type=\"checkbox\" id=\"_videogame\" value=\"Videogame\" v-model=\"checkedNames\">\
					<label for=\"_videogame\">Videogame</label>\
					<br/>\
					<input type=\"checkbox\" id=\"_nature\" value=\"Nature\" v-model=\"checkedNames\">\
					<label for=\"_nature\">Nature</label>\
					<br/>\
					<input type=\"checkbox\" id=\"_anime\" value=\"Anime\" v-model=\"checkedNames\">\
					<label for=\"_anime\">Anime</label>\
					<br/>\
					<input type=\"checkbox\" id=\"_reading\" value=\"Reading\" v-model=\"checkedNames\">\
					<label for=\"_reading\">Reading</label>\
					<br/>\
					<input type=\"checkbox\" id=\"_animals\" value=\"Animals\" v-model=\"checkedNames\">\
					<label for=\"_animals\">Animals</label>\
					<br/>\
					<br/>\
				</div>\
				",
				activitiesText: "\
				<div id=\"actdiv\">\
					<p id=\"title\" class=\"title is-4\">Activities</p>\
					<br/>\
					<br/>\
				</div>\
				",
				facebook: "",
				instagram: "",
				phone: "",
				images: [],
				photoTip: "Click to read",
            };
        },

        methods: {
			viewImageInfos(viewer, panelId, position){
				if (viewer.panel.isVisible(panelId)) {
					viewer.panel.hide();
				} else {
					viewer.panel.show({
						id: panelId,
						width: '50%',
						content: this.imageText
					});
				}
				const imta = document.getElementById("imageta");
				let flag = false;
				this.images.forEach(v => {
					if(v.number == position){
						imta.textContent = v.info;
						flag = true;
					}
				});
				if(!flag){
					imta.textContent = "Description not avaliable";
				}
			},
            goHome() {
                window.location = 'http://localhost:8080';
            },
			async getRoom() {
				await axios
					.post(this.baseUrl + "room", {'email': this.userEmail})
					.then(
						response => {
							this.image = response.data.name;
						}
					);
			},
			async loadImageInfos(){
				await axios.get(this.imUrl).then((response) => {
					response.data.images.forEach(element => {
						if(element.local._id===this.id){
							this.images.push({
								"id": element._id,
								"info": element.info, 
								"number": element.number
							});
						}
					});
				});
			},
        },

        created() {
            this.baseUrl = "http://localhost:3000/locals/";
			this.actUrl = "http://localhost:3000/activities/";
			this.imUrl = "http://localhost:3000/images/";
            this.id = this.$route.params._id;
            this.token = this.$route.params.token;
        },

        mounted() {
            //pull local infos
			axios
			.get(this.baseUrl + this.id)
			.then(
				response => {
					this.userName = response.data.local.name;
					this.userBio = response.data.local.aboutMe;
					this.userEmail = response.data.local.email;
					this.facebook = response.data.local.facebook;
					this.instagram = response.data.local.instagram;
					this.phone = response.data.local.phoneNumber;

					let panelId = 'custom-panel';
					let buttonId = 'overlay-button';

					//Pull local room image
					this.getRoom().then(r=>{
						this.prof = 'http://localhost:3000/profiles/' + this.userEmail + '.png';
						//set viewer
						const viewer = new Viewer({
							container: document.querySelector('#viewer'),
							panorama: this.image,
							defaultZoomLvl: 0,
                            loadingImg: 'https://photo-sphere-viewer.js.org/assets/photosphere-logo.gif',
							navbar: [
								{
									id: buttonId,
									title: 'Go to the city',
									content: '🏡',
									onClick: this.goHome,
								},
								'zoom',
								'caption',
								'fullscreen',
							],
							plugins: [
								[MarkersPlugin, {
									markers: [
										{//1 picture
											id: '1',
											polylineRad: [[4.019, 0.225], [4.288, 0.225], [4.288, -0.150], [4.019, -0.150]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: this.photoTip,
												position: 'right bottom'
											},
										},
										{//2 picture
											id: '2',
											polylineRad: [[4.628, 0.438], [4.353, 0.438], [4.353, -0.145], [4.628, -0.145]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: this.photoTip,
												position: 'right bottom'
											},
										},
										{//3 picture
											id: '3',
											polylineRad: [[4.85, 0.385], [4.675, 0.385], [4.675, 0.1], [4.85, 0.1]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: this.photoTip,
												position: 'right bottom'
											},
										},
										{//4 picture
											id: '4',
											polylineRad: [[2.8, 0.45], [2.545, 0.45], [2.545, 0.125], [2.8, 0.125]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: this.photoTip,
												position: 'right bottom'
											},
										},
										{//5 picture
											id: '5',
											polylineRad: [[6.13, 0.47], [5.65, 0.47], [5.65, 0.13], [6.13, 0.13]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: this.photoTip,
												position: 'right bottom'
											},
										},
										{
											id: 'phone',
											polylineRad: [[5.991, -0.228], [5.734, -0.228], [5.734, -0.47], [5.991, -0.47]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: "Open biography",
												position: 'right bottom'
											},
										},
										{
											id: 'activity',
											polylineRad: [[5.42, -0.02], [5.16, -0.02], [5.16, -0.22], [5.42, -0.22]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: "Read activities",
												position: 'right bottom'
											},
										},
										{
											id: 'contacts',
											polylineRad: [[3.89, 0.32], [3.66, 0.32], [3.66, 0.11], [3.89, 0.11]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: "Read contacts",
												position: 'right bottom'
											},
										},
									]
								}]
							]
						});

						const markersPlugin = viewer.getPlugin(MarkersPlugin);

						markersPlugin.on('select-marker', (e, marker) => {
							if(marker.id=="phone"){
								if (viewer.panel.isVisible(panelId)) {
									viewer.panel.hide();
								} else {
									viewer.panel.show({
										id: panelId,
										width: '40%',
										content: this.phoneText
									});
									document.getElementById("profilePicture").src = this.prof;
									document.getElementById('localName').innerHTML = this.userName;
									document.getElementById('biography').style.textAlign = "center";
									if(this.userBio!=null){
										document.getElementById('biotext').innerHTML = this.userBio;
									} else {
										document.getElementById('biotext').innerHTML = "Bio is not available";
									}
									document.getElementById('localName').style.textAlign = "center";
									document.getElementById('imgdiv').style.textAlign = "center";
								}
							} else if(marker.id=="activity") {
								if (viewer.panel.isVisible(panelId)) {
									viewer.panel.hide();
								} else {
									viewer.panel.show({
										id: panelId,
										width: '40%',
										content: this.activitiesText,
									});
									let vm = this;
									document.getElementById('title').style.textAlign = "center";
									let d = document.getElementById('actdiv');
									axios.get(vm.actUrl).then((response) => {
											response.data.activities.forEach(element => {
												if(element.local._id===vm.id){
													d.innerHTML += "\
													<textarea class=\"acttitle textarea\" rows=\"1\" readonly>" + element.nameOfActivity + "</textarea>\
													<br/>\
													<textarea class=\"actdescr textarea\" rows=\"3\" readonly>" + element.aboutActivity + "</textarea>\
													<br/>\
													<br/>\
													"
												}
												
											});
										});
								}
							} else if(marker.id=="contacts") {
								if (viewer.panel.isVisible(panelId)) {
									viewer.panel.hide();
								} else {
									viewer.panel.show({
										id: panelId,
										width: '40%',
										content: this.contactsText,
									});
									let mail = document.getElementById('mailcont');
									let phone = document.getElementById('phonecont');
									let insta = document.getElementById('instagram');
									let face = document.getElementById('facebook');
									mail.textContent = this.userEmail;
									phone.textContent = this.phone;
									insta.textContent = this.instagram;
									face.textContent = this.facebook;
									[phone, insta, face].forEach(v => {
										if(v.value == "undefined"){
											v.value = "";
										}
									});
								}
							} else {
								this.viewImageInfos(viewer, panelId, marker.id);
							}
						});

						this.loadImageInfos();

					});
				}
			);
        }
    };
</script>

<style>
    @import '../css/room.css';
	@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
	@import "photo-sphere-viewer/dist/plugins/markers.css"
</style>
