<template>
    <div>
        <div id="viewer"></div>
    </div>
</template>

<script>
    import axios from "axios";
    import { Viewer } from 'photo-sphere-viewer';
	import MarkersPlugin from 'photo-sphere-viewer/dist/plugins/markers';

    require("photo-sphere-viewer/dist/photo-sphere-viewer.css");

    export default {
        name: "RoomDefinitions",
        components: {
            
        },

        data() {
            return {
				uploadText: "\
				<div>\
					<p class=\"title is-4\" id=\"imageTitle\">Image description</p>\
				</div>\
				<br/>\
				<br/>\
				<div id=\"divUp\" class=\"file has-name is-boxed is-centered\">\
					<label id=\"uploadDiv\" class=\"file-label\">\
						<input id=\"img\" class=\"file-input\" type=\"file\" name=\"img\" accept=\"image\" required/>\
						<span class=\"file-cta\">\
							<span class=\"file-icon\">\
								<i class=\"fas fa-upload\"></i>\
							</span>\
							<span class=\"file-label\">\
								Choose a file…\
							</span>\
						</span>\
						<span id=\"fileName\" class=\"file-name\">\
						</span>\
					</label>\
				</div>\
				<div id=\"submitDiv\">\
					<button class=\"button is-success is-rounded\" type=\"submit\" id=\"panel-content\" disabled>Upload image</button>\
					<button class=\"button is-danger is-rounded\" type=\"submit\" id=\"removeButton\">Reset image</button>\
				</div><br/><br/>",
				profileText: "\
				<div>\
					<p class=\"title is-4\" id=\"localName\"></p>\
				</div>\
				<br/>\
				<div id=\"imgdiv\">\
					<img src=\"\" id=\"profilePicture\"/>\
				</div>\
				<br/>\
				<br/>\
				<br/>\
				<div id=\"divUp\" class=\"file has-name is-boxed is-centered\">\
					<label id=\"uploadDiv\" class=\"file-label\">\
						<input id=\"img\" class=\"file-input\" type=\"file\" name=\"img\" accept=\"image\" required/>\
						<span class=\"file-cta\">\
							<span class=\"file-icon\">\
								<i class=\"fas fa-upload\"></i>\
							</span>\
							<span class=\"file-label\">\
								Choose a file…\
							</span>\
						</span>\
						<span id=\"fileName\" class=\"file-name\">\
						</span>\
					</label>\
				</div>\
				<div id=\"changeProfile\">\
					<!--label for=\"img\">Select a photo:</label><br/>\
					<input type=\"file\" id=\"img\" name=\"img\" accept=\"image\" required/><br/><br/-->\
					<button class=\"button is-warning is-rounded\" type=\"submit\" id=\"panel-content\" disabled>Change photo</button>\
				</div>\
				<br/>\
				<br/>\
				<div id=\"bioInfos\">\
					<p id=\"biography\" class=\"subtitle is-5\">Biography</p>\
					<br/>\
					<textarea class=\"textarea\" id=\"biotext\"></textarea>\
					<br/>\
					<button class=\"button is-warning is-rounded\" type=\"submit\" id=\"submitBio\">Change bio</button>\
				</div>\
				<br/>\
				<br/>\
				<div id=\"interests\">\
					<p id=\"inter\" class=\"subtitle is-5\">Interests</p>\
					<br/>\
					<p>Describe your interests with hashtags (for example #art#music#technology)</p>\
					<br/>\
					<textarea class=\"textarea\" id=\"interarea\" placeholder=\"#art#music#technology\"></textarea>\
					<br/>\
					<br/>\
					<button class=\"button is-warning is-rounded\" type=\"submit\" id=\"submitInter\">Change interests</button>\
				</div>\
				",
				activitiesText: "\
				<div id=\"actdiv\">\
					<p id=\"title\" class=\"title is-4\">Activities</p>\
					<br/>\
					<br/>\
					<label id=\"activityTitleLabel\" for=\"activityTitle\" class=\"subtitle is-6\">Insert the title</label><br/>\
					<textarea class=\"textarea\" id=\"activityTitle\" rows=\"1\"></textarea><br/>\
					<label id=\"activityInfosLabel\" for=\"activityInfos\" class=\"subtitle is-6\">Insert a description</label><br/>\
					<textarea class=\"textarea\" id=\"activityInfos\" rows=\"3\"></textarea><br/>\
					<button class=\"button is-success is-rounded\" type=\"submit\" id=\"submitActivity\">Create activity</button>\
					<br/>\
					<br/>\
					<br/>\
					<br/>\
				</div>\
				",
				contactsText: "\
				<div id=\"conttext\">\
					<p id=\"conttitle\" class=\"title is-4\">Contacts</p>\
					<br/>\
					<br/>\
					<label class=\"mail subtitle is-5\" for=\"mailcont\">Email</label><br/>\
					<textarea class=\"mail textarea\" id=\"mailcont\" rows=\"1\"></textarea><br/><br/>\
					<label class=\"phone subtitle is-5\" for=\"phonecont\">Phone</label><br/>\
					<textarea class=\"phone textarea\" id=\"phonecont\" rows=\"1\"></textarea><br/><br/>\
					<label class=\"facebook subtitle is-5\" for=\"facebook\">Facebook</label><br/>\
					<textarea class=\"facebook textarea\" id=\"facebook\" rows=\"1\"></textarea><br/><br/>\
					<label class=\"instagram subtitle is-5\" for=\"instagram\">Instagram</label><br/>\
					<textarea class=\"instagram textarea\" id=\"instagram\" rows=\"1\"></textarea><br/><br/>\
					<br/>\
					<button class=\"button is-warning is-rounded\" type=\"submit\" id=\"submitContacts\">Modify contacts</button>\
				</div>\
				",
				imageText: "\
				<div id=\"imgtext\">\
					<textarea class=\"textarea\" id=\"imageta\"></textarea>\
					<br/>\
					<button class=\"button is-warning is-rounded\" type=\"submit\" id=\"submitImage\">Change image infos</button>\
				</div>\
				",
				refreshText: "\
				<p>Aggiornamento in corso... attendere...</p>\
				<br/>\
				<progress class=\"progress is-medium is-danger\" max=\"100\">45%</progress>\
				<!--div class=\"half-circle-spinner\">\
					<div class=\"circle circle-1\"></div>\
					<div class=\"circle circle-2\"></div>\
				</div-->\
				",
				image: "",
				response: "",
				selectedFile: null,
				baseUrl: "",
				actUrl: "",
				imUrl: "",
            	id : "",
            	token: "",
				userName: "",
				userBio: "",
				interests: "",
				userEmail: "",
				patchAddress: "",
				activityOldName: "",
				activityName: "",
				activityText: "",
				viewer: null,
				prof: "",
				panelId: 'custom-panel',
				buttonId: 'overlay-button',
				activities: [],
				images: [],
				facebook: "",
				instagram: "",
				phone: "",
				photoTip: "Click to read",
				checkedNames: [],
            };
        },

        methods: {
			onFileSelected(event) {
				this.selectedFile = event.target.files[0];
				let spanName = document.getElementById("fileName");
				spanName.textContent = this.selectedFile.name;
				document.getElementById("panel-content").disabled = false;
			},
			goHome() {
                window.location = 'http://localhost:8080';
            },
			async getRoom() {
				await axios
					.post(this.baseUrl + "room", {'email': this.userEmail})
					.then(
						response => {
							this.image = response.data.name;
						}
					);
			},
            async submitProfileDefinitions() {
				var vm = this;
				axios.post(this.baseUrl + "infos", [
					{
					propName: "id",
						value: vm.id
					},
					{
					propName: "aboutMe",
						value: vm.userBio
					}
				]);
            },
            async submitInterests() {
				var vm = this;
				axios.post(this.baseUrl + "interests", [
					{ propName: "id", value: vm.id },
					{
					propName: "interests",
						value: vm.interests
					}
				]);
            },
			setPhoto(position){
				if (this.viewer.panel.isVisible(this.panelId)) {
					this.viewer.panel.hide();
				} else {
					this.viewer.panel.show({
						id: this.panelId,
						width: '40%',
						content: this.uploadText + this.imageText
					});
				}
				const del = document.getElementById("panel-content");
				const rem = document.getElementById("removeButton");
				const imta = document.getElementById("imageta");
				const updiv = document.getElementById("uploadDiv");
				const subdiv = document.getElementById("submitDiv");
				subdiv.style.textAlign = "center";
				updiv.style.textAlign = "center";
				
				this.images.forEach(v => {
					if(v.number == position){
						imta.value = v.info;
					}
				});

				let vm = this;
				del.onclick = async function () {
					vm.viewer.panel.show({
						id: vm.panelId,
						width: '40%',
						content: vm.refreshText,
					});
					const formData = new FormData();
					console.log(vm.selectedFile);
					formData.append('provaImmagine', vm.selectedFile);
					formData.append('email', vm.userEmail);
					formData.append('position', position);
					formData.append('remove', 0);
					formData.append('imageName', vm.selectedFile.name);
					vm.uploading = true;
					axios.patch(vm.patchAddress, formData).then((response) => {
						location.reload();
					});
					vm.selectedFile = "";
				};
				rem.onclick = async function () {
					vm.viewer.panel.show({
						id: vm.panelId,
						width: '40%',
						content: vm.refreshText,
					});
					const formData = new FormData();
					formData.append('provaImmagine', "");
					formData.append('email', vm.userEmail);
					formData.append('position', position);
					formData.append('remove', 1);
					formData.append('imageName', "");
					axios.patch(vm.patchAddress, formData).then((response) => {
						//also remove the image infos
						vm.images.forEach(el => {
							if(el.number == position){
								axios.delete(vm.imUrl + el.id).then((r) => {
									return;
								});
							}
						});
						location.reload();
					});
					vm.selectedFile = "";
				};

				const im = document.getElementById("img");
				im.addEventListener('change', this.onFileSelected);

				//image infos
				let iminf = document.getElementById('submitImage');
				iminf.onclick = async function () {
					vm.viewer.panel.show({
						id: vm.panelId,
						width: '40%',
						content: vm.refreshText,
					});
					vm.images.forEach(el => {
						if(el.number == position){
							axios.patch(vm.imUrl + el.id, {
								'localId': vm.id, 
								'number': position, 
								'info': imta.value
							}).then((r) => {
								location.reload();
								return;
							});
						}
					});
					axios.post(vm.imUrl, {
								'localId': vm.id, 
								'number': position, 
								'info': imta.value
							}).then((r) => {
								location.reload();
							});

				};
			},
			modifyActivity: async function(){
				let id = null;
				this.activities.forEach(act => {
					if(act.name==this.activityOldName){
						id = act.id;
					}
				});
				let vm = this;
				if(id!=null){
					await axios.patch(vm.actUrl + id, {"title": vm.activityName, "text": vm.activityText}).then(res => {
						vm.activityOldName = "";
						vm.activityName = "";
						vm.activityText = "";
						location.reload();
					});
				}
			},
			removeActivity: async function(){
				let id = null;
				this.activities.forEach(act => {
					if(act.name==this.activityOldName){
						id = act.id;
					}
				});
				let vm = this;
				if(id!=null){
					await axios.delete(vm.actUrl + id, {"id": id}).then(res => {
						vm.activityOldName = "";
						vm.activityName = "";
						vm.activityText = "";
						location.reload();
					});
				}
			},
			async loadActivities(d, vm){
				await axios.get(vm.actUrl).then((response) => {
					response.data.activities.forEach(element => {
						if(element.local._id===vm.id){
							vm.activities.push({
								"id": element._id,
								"name": element.nameOfActivity, 
								"text": element.aboutActivity});
							d.innerHTML += "\
							<div>\
								<textarea class=\"acttitle textarea\" rows=\"1\">" + element.nameOfActivity + "</textarea>\
								<br/>\
								<textarea class=\"actdescr textarea\" rows=\"3\">" + element.aboutActivity + "</textarea>\
								<br/>\
								<button type=\"submit\" class=\"actModifiers button is-warning is-rounded\">Modify</button>\
								<button type=\"submit\" class=\"actRemovers button is-danger is-rounded\">Remove</button>\
								<br/>\
								<br/>\
								<br/>\
							</div>\
							"
						}
					});
				});
			},
			async loadImageInfos(){
				await axios.get(this.imUrl).then((response) => {
					response.data.images.forEach(element => {
						if(element.local._id===this.id){
							this.images.push({
								"id": element._id,
								"info": element.info, 
								"number": element.number
							});
						}
					});
				});
			},
        },

        created() {
			this.baseUrl = "http://localhost:3000/locals/";
			this.actUrl = "http://localhost:3000/activities/";
			this.imUrl = "http://localhost:3000/images/";
            this.id = this.$route.params._id;
            this.token = this.$route.params.token;
        },

        mounted() {
			//pull local infos
			axios
			.get(this.baseUrl + this.id)
			.then(
				response => {
					this.userName = response.data.local.name;
					this.userBio = response.data.local.aboutMe;
					this.interests = response.data.local.interests;
					this.userEmail = response.data.local.email;
					this.patchAddress = this.baseUrl + this.id;
					this.facebook = response.data.local.facebook;
					this.instagram = response.data.local.instagram;
					this.phone = response.data.local.phoneNumber;

					console.log("Interests: " + this.interests);

					if(this.userBio==null){
						this.userBio = "";
					}
					//Pull local room image
					this.getRoom().then(r=>{
						this.prof = 'http://localhost:3000/profiles/' + this.userEmail + '.png';
						//set viewer
						this.viewer = new Viewer({
							container: document.querySelector('#viewer'),
							panorama: this.image,
							loadingImg: 'https://photo-sphere-viewer.js.org/assets/photosphere-logo.gif',
							defaultZoomLvl: 0,
							navbar: [
								{
									id: this.buttonId,
									title: 'Go to the city',
									content: '🏡',
									onClick: this.goHome,
								},
								'zoom',
								'caption',
								'fullscreen',
							],
							plugins: [
								[MarkersPlugin, {
									markers: [
										{//1 picture
											id: '1',
											polylineRad: [[4.019, 0.225], [4.288, 0.225], [4.288, -0.150], [4.019, -0.150]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: this.photoTip,
												position: 'right bottom'
											},
										},
										{//2 picture
											id: '2',
											polylineRad: [[4.628, 0.438], [4.353, 0.438], [4.353, -0.145], [4.628, -0.145]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: this.photoTip,
												position: 'right bottom'
											},
										},
										{//3 picture
											id: '3',
											polylineRad: [[4.85, 0.385], [4.675, 0.385], [4.675, 0.1], [4.85, 0.1]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: this.photoTip,
												position: 'right bottom'
											},
										},
										{//4 picture
											id: '4',
											polylineRad: [[2.8, 0.45], [2.545, 0.45], [2.545, 0.125], [2.8, 0.125]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: this.photoTip,
												position: 'right bottom'
											},
										},
										{//5 picture
											id: '5',
											polylineRad: [[6.13, 0.47], [5.65, 0.47], [5.65, 0.13], [6.13, 0.13]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: this.photoTip,
												position: 'right bottom'
											},
										},
										{
											id: 'phone',
											polylineRad: [[5.991, -0.228], [5.734, -0.228], [5.734, -0.47], [5.991, -0.47]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: "Open biography",
												position: 'right bottom'
											},
										},
										{
											id: 'activity',
											polylineRad: [[5.42, -0.02], [5.16, -0.02], [5.16, -0.22], [5.42, -0.22]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: "Read activities",
												position: 'right bottom'
											},
										},
										{
											id: 'contacts',
											polylineRad: [[3.89, 0.32], [3.66, 0.32], [3.66, 0.11], [3.89, 0.11]],
											svgStyle: {
												fill: 'rgba(0, 0, 0, 0)',
												strokeWidth: '0px'
											},
											tooltip: {
												content: "Read contacts",
												position: 'right bottom'
											},
										},
									]
								}]
							]
						});

						this.loadImageInfos();

						const markersPlugin = this.viewer.getPlugin(MarkersPlugin);

						markersPlugin.on('select-marker', (e, marker) => {
							if(marker.id=="phone"){
								if (this.viewer.panel.isVisible(this.panelId)) {
									this.viewer.panel.hide();
								} else {
									this.viewer.panel.show({
										id: this.panelId,
										width: '40%',
										content: this.profileText,
									});
									//profile picture
									document.getElementById("profilePicture").src = this.prof;
									const del = document.getElementById("panel-content");
									let vm = this;
									del.onclick = async function () {
										vm.viewer.panel.show({
											id: vm.panelId,
											width: '40%',
											content: vm.refreshText,
										});
										const formData = new FormData();
										formData.append('profile', vm.selectedFile);
										formData.append('email', vm.userEmail);
										formData.append('name', vm.selectedFile.name);
										axios.patch(vm.baseUrl + "profile", formData).then((response) => {
											location.reload();
										});
										vm.selectedFile = "";
									};
									const im = document.getElementById("img");
									im.addEventListener('change', this.onFileSelected);
									document.getElementById('localName').innerHTML = this.userName;
									document.getElementById('localName').style.textAlign = "center";
									document.getElementById('imgdiv').style.textAlign = "center";
									document.getElementById('changeProfile').style.textAlign = "center";
									//biography
									const bio = document.getElementById("submitBio");
									let text = document.getElementById('biotext');
									text.value = this.userBio;
									text.style.width = "100%";
									document.getElementById('bioInfos').style.textAlign = "center";
									vm = this;
									bio.onclick = async function () {
										vm.viewer.panel.show({
											id: vm.panelId,
											width: '40%',
											content: vm.refreshText,
										});
			  							vm.userBio =  text.value;
										vm.submitProfileDefinitions().then(res => {
											location.reload();
										});
									};
									//interests
									const inti = document.getElementById("submitInter");
									let itext = document.getElementById('interarea');
									itext.value = this.interests;
									itext.style.width = "100%";
									//document.getElementById('bioInfos').style.textAlign = "center";
									vm = this;
									inti.onclick = async function () {
										vm.viewer.panel.show({
											id: vm.panelId,
											width: '40%',
											content: vm.refreshText,
										});
			  							vm.interests =  itext.value;
										vm.submitInterests().then(res => {
											location.reload();
										});
									};
								}
							} else if(marker.id=="activity") {
								if (this.viewer.panel.isVisible(this.panelId)) {
									this.viewer.panel.hide();
								} else {
									this.viewer.panel.show({
										id: this.panelId,
										width: '40%',
										content: this.activitiesText,
									});
									document.getElementById('title').style.textAlign = "center";
									document.getElementById('actdiv').style.textAlign = "center";
									let vm = this;

									let d = document.getElementById('actdiv');
									this.loadActivities(d, vm).then(r => {
										let ar = document.getElementsByClassName('actModifiers');
										let des = document.getElementsByClassName('actdescr');
										for (let i=0; i < ar.length; i++) {
											let value = ar[i];
											value.addEventListener("click", function(e){
												let fc = e.target.parentNode.firstChild.nextElementSibling;
												vm.activityOldName = fc.textContent;
												vm.activityName = fc.value;
												vm.activityText = des[i].value;
												vm.modifyActivity();
											});
										}
										ar = document.getElementsByClassName('actRemovers');
										for (let i=0; i < ar.length; i++) {
											let value = ar[i];
											value.addEventListener("click", function(e){
												let fc = e.target.parentNode.firstChild.nextElementSibling;
												vm.activityOldName = fc.textContent;
												vm.activityName = fc.value;
												vm.activityText = des[i].value;
												vm.removeActivity();
											});
										}

										let tit = document.getElementById('activityTitle');
										let inf = document.getElementById('activityInfos');
										tit.style.width = "100%";
										inf.style.width = "100%";

										let act = document.getElementById('submitActivity');
										act.onclick = async function () {
											vm.viewer.panel.show({
												id: vm.panelId,
												width: '40%',
												content: vm.refreshText,
											});
											axios.post(vm.actUrl, {
												'localId': vm.id, 
												'nameOfActivity': tit.value, 
												'aboutActivity': inf.value
											}).then((response) => {
												location.reload();
											});
										};
									});
								}
							} else if(marker.id=="contacts") {
								if (this.viewer.panel.isVisible(this.panelId)) {
									this.viewer.panel.hide();
								} else {
									this.viewer.panel.show({
										id: this.panelId,
										width: '40%',
										content: this.contactsText,
									});
									let mail = document.getElementById('mailcont');
									let phone = document.getElementById('phonecont');
									let insta = document.getElementById('instagram');
									let face = document.getElementById('facebook');
									mail.value = this.userEmail;
									phone.value = this.phone;
									insta.value = this.instagram;
									face.value = this.facebook;
									[phone, insta, face].forEach(v => {
										if(v.value == "undefined"){
											v.value = "";
										}
									});
									let vm = this;
									let but = document.getElementById('submitContacts');
									but.onclick = async function () {
										vm.viewer.panel.show({
											id: vm.panelId,
											width: '40%',
											content: vm.refreshText,
										});
										axios.post(vm.baseUrl + "/contacts", {
											'localId': vm.id, 
											'phone': phone.value, 
											'facebook': face.value,
											'instagram': insta.value,
										}).then((response) => {
											location.reload();
										});
									};
								}
							} else {
								this.setPhoto(marker.id);
							}
						});
					});
				}
			);

		}
    };
</script>

<style>
    @import '../css/roomdefs.css';
	@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
	@import "photo-sphere-viewer/dist/plugins/markers.css"
</style>
