<style>
@import '../css/base.css';
@import '../css/colors.css';
@import '../css/login.css';
@import '../css/topBar.css';
</style>

<template>
<div>
    <div class="background login-background"></div>
    
    <div class="top-bar">
        <router-link :to="{name: 'ShareCities'}">
            <div class="top-button">
                <img src="/static/login/home.svg">
                <h5>Back to The City</h5>
            </div>
        </router-link>
    </div>
    <div class="wrapper">
        <div class="popup-login">
            <p class="h1">Sign Up</p>
            <br>
            <div v-if="messageFlag">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" name="name" v-model="input.name" class="form-control" placeholder="FirstName LastName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email" v-model="input.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" v-model="input.password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="roomType">Room type</label>
                        <select name="roomType" id="roomType">
                            <option value="purple">Purple</option>
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>
                        </select>
                    </div>
                    <button type="button" @click.stop.prevent="signUp()" class="btn btn-outline-dark">Sign Up</button>
                </form>
            </div>

            <div v-if="message">
                <p class="h6">Account created successfully.</p>
                <a>
                    <p class="h7">Please login!</p>
                </a>
                <br>
                <router-link :to="{name: 'Login'}">
                    <button type="button" class="btn btn-dark" :to="{name: 'Login'}">Login</button>
                </router-link>
            </div>
            <br>

            <div v-if="!message">
                <hr>
                <br>
                <p class="h5">Do you already have an account?</p>
                <br>
                <router-link v-if="messageFlag" :to="{name: 'Login'}">
                    <button type="button" class="btn btn-dark" :to="{name: 'Login'}">Login</button>
                </router-link>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import axios from "axios";
import {
    rootLink
} from '../../src/main.js';

export default {
    name: "SignUp",
    data() {
        return {
            input: {
                email: "",
                password: "",
                name: ""
            },
            message: "",
            messageFlag: true,
            createUserLink: rootLink + 'locals/signup',
            createDefaultRoomLink: rootLink + 'roomstyle'
        };
    },

    methods: {
        signUp() {
            if (
                this.input.name != "" &&
                this.input.email != "" &&
                this.input.password != ""
            ) {
                var sel = document.getElementById("roomType");
                var roomType = 0;
                if(sel.value == "purple"){
                    roomType = 1;
                } else if(sel.value == "blue"){
                    roomType = 2;
                } else if(sel.value == "green"){
                    roomType = 3;
                }
                var vm = this;
                axios
                    .post(this.createUserLink, {
                        name: this.input.name,
                        email: this.input.email,
                        password: this.input.password,
                        type: roomType,
                        localImage: "/static/Illustrator Files/userPicture.png"
                    })
                    .then(function (response) {
                        vm.message = response.data.message;
                        vm.messageFlag = false;
                    });
            } else {
                alert("Name, email, password and room must be present");
            }
        }
    }
};
</script>
