#viewer {
    width: 100vw;
    height: 100vh;
}

#localName, #inter {
    text-align: center;
}

#imgdiv {
   width: 100%;
   text-align: center;
}

#profilePicture {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.acttitle, .actdescr {
	width: 100%;
}

#conttext {
	text-align: center;
}

#conttext > textarea {
	width: 100%;
}

#imgtext > textarea {
	width: 100%;
}

#imgtext, #imageTitle, #interests {
	text-align: center;
}

#localName, #biography, #title, #conttitle, #imageTitle {
	color: white;
}

#biography, #title {
	margin: 0;
}

.title, .subtitle {
	color: white;
}

#divUp {
	margin-bottom: 1%;
}

.psv-panel-content {
    overflow-y: scroll;
}

#activityTitleLabel, #activityInfosLabel {
	margin-bottom: 0.5rem;
}

/********************************************************************************************+*/

.half-circle-spinner, .half-circle-spinner * {
    box-sizing: border-box;
}

.half-circle-spinner {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	position: relative;
}

.half-circle-spinner .circle {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: calc(60px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
	border-top-color: #ff1d5e;
	animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
	border-bottom-color: #ff1d5e;
	animation: half-circle-spinner-animation 1s infinite alternate;
}

@keyframes half-circle-spinner-animation {
	0% {
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(360deg);
	}
}