#viewer {
    width: 100vw;
    height: 100vh;
}

#localName {
    text-align: center;
}

#imgdiv {
   width: 100%;
   text-align: center;
}

#profilePicture {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.acttitle, .actdescr {
	width: 100%;
}

#conttext {
	text-align: center;
}

#conttext > textarea {
	width: 100%;
}

#imgtext > textarea {
	width: 100%;
}

#imgtext, #imageTitle {
	text-align: center;
}

#localName, #biography, #title, #conttitle, #imageTitle {
	color: white;
}

#biography, #title {
	margin: 0;
}

.title, .subtitle {
	color: white;
}

#divUp {
	margin-bottom: 1%;
}

.psv-panel-content {
    overflow-y: scroll;
}